$colorText:#ffffff;
$hoverColor:#ffc50b;
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
//preload animation
.preloader{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
  transition: opacity .5s linear .4s;
  overflow: hidden;
  .preload-container{
    transition: opacity .4s;
  }

  .preload-image{
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.hide{
  opacity: 0;
  z-index: -10;
}

.preloader {
  .preloader-image-container {
    transition: opacity .4s;
  }

  .preloader.hide {
    opacity: 0;
  }

  .preloader.hide .preloader-image-container {
    opacity: 0;
  }


}
.preloader-image-black {
  animation-name: preloader-animation-black;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.preloader-image-white{
  animation-name: preloader-animation-white;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.preloader-image-yellow{
  animation-name: preloader-animation-yellow;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
@keyframes preloader-animation-black {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; }
}
@keyframes preloader-animation-white {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; }
}
@keyframes preloader-animation-yellow {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; }
}
//
.my-body-noscroll-class {
  overflow: hidden;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: #FFC50B;
}
h2{
  font-size: 21px;
}
button{
  outline: none;
}
/*BURGER*/
#burger{
  width: 40px;
  height: 30px;
  display: none;
  position: absolute;
  right: 50px;
  top: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 6;
}
#burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #FFC50B;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#burger span:nth-child(1) {
  top: 0px;
}
#burger span:nth-child(2) {
  top: 12px;
}
#burger span:nth-child(3) {
  top: 24px;
}
#burger.open span:nth-child(1) {
  position: absolute;
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#burger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#burger.open span:nth-child(3) {
  position: absolute;
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.burger-menu{
  border: none;
  flex-direction: column;
  position: absolute;
  top:0;
  padding: 50px 20px;
  background: #1D1C21;
  width: 100%;
  height: 670px;
}
//
header {
  position: relative;
  background-image: url(../images/header/test-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  text-align: center;
  //    background-position-x: 50%; foe mobile и уменьшить высоту
  .video-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  //.video.vertical{
  //  height: 100%;
  //  position: relative;
  //}
  //.video.horizontal{
  //  width: 100%;
  //}
  .header-content {
    max-width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  }
  h1 {
    font-size: 36px;
    margin-top: 469px;
    z-index: 2;
  }
  .h1-bg {
    position: absolute;
    z-index: 1;
    top: 475px;
    width: 676px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .header-info {
    position: relative;
    img:nth-child(1) {
      width: 440px;
      position: relative;
      left: 215px;
      top: 0px;
    }
    img:nth-child(2) {
      width: 340px;
      position: relative;
      top: -120px;
      left: -179px;
    }
    .header-info-text {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: fit-content;
      margin: 0 auto;
      position: relative;
      top: -260px;
    }
    span {
      color: #ffa002;
      font-size: 21px;
      margin: 10px 0 10px 85px;
    }
  }
nav {
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo-bg {
    position: absolute;
    //width: 80%;
    width: 65%;
    left: 0;
    opacity: 0.7;
    top: 0;
    z-index: 3;
  }
  .nav-bg {
    position: absolute;
    width: 100%;
    left: 0;
    //top: 0;
    z-index: 3;
    //change
    top:-80px;
  }
  .nav-content {
    width: 80%;
    display: flex;
    //margin: 40px auto;
    margin: 15px auto;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
  }

  .logo {
    width: 150px;
    z-index: 3;
  }
  .menu {
    z-index: 3;
    width: 56%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  a {
    font-size: 21px;
    color: white;
  }
}
.menu-mobile{
  border: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 800px;
  z-index: 7;
  a{
    margin: 50px auto;
    font-size: 19px;
    color: #ffffff;
  }
  a:nth-child(1){
    margin-top: 140px;
  }
}
//ABOUT US///////////////about-course////
.about-us ,.about-course-main-info{
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: 220px auto 0;
}
.about-us-column, .about-course-main-info-column{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.line-over-text{
  //img:nth-child(1){
  //  width: 10px;
  //  position: relative;
  //  top: 4px;
  //  right: -6px;
  //}
  //img:nth-child(2) {
  //  width: 460px;
  //}
  img{
    width: 575px;
  }
}
.about-us-heading{
  width: 195px;
}
.media-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 390px;
  position: absolute;
  left: 55%;
  top: 1570px;
  img{
    width: 40px;
    cursor: pointer;
  }
  img:nth-child(3){
    width: 20px;
  }
}
.squares{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 115px;
  margin-left: 35px;
  height: 225px;
  width: 20px;
  img{
    width: 12px;
  }
  img:nth-child(1){
    width: 16px;
  }
}
.about-us-info-shine{
  max-width: 789px;
  position: absolute;
  z-index: -1;
  top: 1395px;
  left: 57%;
}
.about-us-info-block{

  margin-top: 130px;
  width:548px;
  height: 493px;
  background-image: url('../images/about-us/text-bg-01.png') ;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;


  color: white;
  .about-us-info-block-text{
    max-width: 365px;
    padding: 80px 0 0 80px;
  }
  h2{
    margin-bottom: 40px;
  }
  p{
    margin: 0 0 10px;
    line-height: 32px;
  }
}
//RELEVANCE///////////////////
.relevance{
  max-width: 1400px;
  margin: 250px auto 0;
}
.relevance-heading{
  margin: 100px 0 115px 60%;
}
.relevance-heading-text{
  width: 464px;
  margin-left: 110px;
}
.relevance-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.relevance-info-card{
  width: 260px;
  margin-bottom: 20px;
  //img{
  //  width: 100%;
  //  opacity: 0.7;
  //}
  img:hover{
    opacity: 1;
  }
  .relevance-icon{
    opacity: 0.8;
    margin-left: 45px;
  }
  .relevance-icon:hover{
    opacity: 1;
  }
  h2{
    text-align: center;
  }
  p{
    margin-top: 30px;
    margin-left: 2px;
    line-height: 23px;
    letter-spacing: 1px;
}
}
//////////ABOUT COURSE////////
.about-course-main-info{
  max-width: 1430px;
}
.make-your-game-banner{
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 50px;
  .vertical-line{
    width: 4px;
    height: 115px;
    background-color: #ffa002;
  }
  .make-your-banner-text{
    width: 280px;
    height: 122px;
    padding-left: 60px;

    color: #ffa002;
    border: #ffa002 4px solid;
    border-radius: 25px;
    font-size: 25px;
    line-height: 40px;
    text-align: left;
    font-weight: bold;

    display: flex;
    align-items: center;
  }
}
.about-course-main-info-column{
  h2{
    color: #ffa002;
    margin-bottom: 30px;
  }
  p{
    margin: 10px 0 0 0;
    letter-spacing: 2px;
    line-height: 25px;
  }
}
.about-course-heading{
  width: 269px;
}
.about-course-text{
  max-width: 540px;
  margin: 50px auto;
}
.about-course-icons{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  .about-course-icons-card{
    width: 135px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    line-height: 29px;
  }
}
//JOIN US////////////////////
.join-us{
  max-width: 1600px;
  margin: 220px auto 0;
}
.join-us-content{
  display: flex;flex-direction: row;
}
.join-us-column{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.join-us-heading-text{
  max-width: 480px;
  margin-top: 5px;
}
.join-us-menu-choose-lvl{
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.join-us-menu-choose-lvl-element{
  width: 150px;
  height: 48px;
  opacity: 0.4;
  z-index: 2;
  cursor: pointer;
}
.join-us-menu-choose-lvl-element:hover{
  //width: 180px;
  //height: 57px;
  opacity: 1;
}
//active btn lvl
.active-btn-lvl{
  width: 180px;
  height: 57px;
  opacity: 1;
}
.beginner{
  background: url('../images/join-us/Beginner-01.svg') no-repeat;
}
.middle{
  background: url('../images/join-us/Middle-01.svg') no-repeat;
}
.advanced{
  background: url('../images/join-us/Advanced-01.svg') no-repeat;
}
.menu-illustration{
  width: 706px;
  height: 630px;
  margin: 0 auto;
}
.middle-ill{
  background: url('../images/join-us/Middle-ill-01.png') no-repeat;
  background-size: contain;
}
.beginner-ill{
  background: url('../images/join-us/Beginner-ill-01.png') no-repeat;
  background-size: contain;
}
.advanced-ill{
  background: url('../images/join-us/Advanced-ill-01.png') no-repeat;
  background-size: contain;
}
.join-us-info{
  max-width: 630px;
  width: 630px;
  height: 360px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.join-us-icons{
  display: flex;
  flex-direction: column;
}
.join-us-icon-el{
  width: 38px;
  margin-bottom: 75px;
  cursor: pointer;
}
.join-us-icon-el:nth-child(4){
  width: 46px;
}
.join-us-icon-el{
  svg{
    path{
      fill:#B6C1C6;
    }
  }
}
#beginner .active-icon{
  svg{
    path{
      fill:#9543ff;
    }
  }
}
#beginner .join-us-icon-el:hover{
  svg{
    path{
      fill:#9543ff;
    }
  }
}
#middle .active-icon{
  svg{
    path{
      fill:#ffc50b;
    }
  }
}
#middle .join-us-icon-el:hover{
  svg{
    path{
      fill:#ffc50b;
    }
  }
}
#advance .active-icon{
  svg{
    path{
      fill:#02ffaf;
    }
  }
}
#advance .join-us-icon-el:hover{
  svg{
    path{
      fill:#02ffaf;
    }
  }
}
.course-description{
  max-width: 500px;
    h2{
      color: #ddd2b1;
      margin: 15px 0 100px;
      letter-spacing: 1px;
    }
    p{
      margin: 0;
      letter-spacing: 2px;
      line-height: 25px;
      }
}
.teachers{
  h2{
    margin: 15px 0 35px;
  }
}
#beginner h2 span{
color: #9543ff;
}
#middle h2 span{
  color: #ffc50b;
}
#advance h2 span{
  color: #02ffaf;
}
.benefits{
display: flex;
flex-direction: column;
}
.benefit-element{
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 30px;
img{
width: 44px;
margin-right: 25px;
}
}
.course-description-time{
p{
margin-bottom: 30px;
}
p:first-child{
margin-top: 50px;
}
}

.free-places{
margin: 15px 0 30px;
color: #b6c1c6;
display: flex;
align-items: center;
span{
font-weight: bold;
margin-right: 50px;
font-size: 21px;
}
}
.free-place-number{
font-size: 31px;
font-weight: bold;
width: 70px;
height: 70px;
border: 2px solid;
border-radius: 5px;
text-align: center;
line-height: 70px;
}
.timer{
display: flex;
align-items: baseline;
color: #b6c1c6;
font-weight: 700;
  p{
    margin: 0 !important;
  }
  span{
    font-size: 24px;
    margin: 0 5px 0;
  }
}
#beginner .free-place-number{
border-color: #9543ff;
}
#middle .free-place-number{
  border-color: #ffc50b;
}
#advance .free-place-number{
  border-color: #02ffaf;
}
.teachers{
img{
width: 170px;
}
span{
display: block;
font-size: 21px;
font-weight: 700;
margin: 40px 0 30px;
}
p{
margin-bottom: 10px;
}
}
.text-color-purple{
color: #9543ff;
}
.text-color-yellow{
color: #ffc50b;
}
.text-color-green{
color: #02ffaf;
}

.join-us-buttons{
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 165px;
  margin-left: 100px;
  img{
    width: 240px;
    cursor: pointer;
  }
  .join-us-btn{
    outline: none;
    width: 235px;
    height: 45px;
    border: 2px solid #FFC50B ;
    border-radius: 20px;
    color: #afb1b2;
    background: none;
    line-height: 45px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  .join-us-btn:hover{
    color: #00141e;
    background-color: #FFC50B;
  }

}
///////CONTACT FORM////////
.contact{

}
.checkboxes{
  display: none;
}
.contact-media{
  display: flex;
  width: 700px;
  margin: 50px auto;
  justify-content: space-between;
  .media-icons{
    position: unset;
    flex-direction: row;
    width: 390px;
    height: auto;
  }
  .phones{
    p{
      font-size: 21px;
      color: #FFC50B;
      font-weight: bold;
    }
  }
}
.contact-form{
  display: flex;
  border: 2px solid #ffc50b;
  border-radius: 50px;
  max-width: 1130px;
  margin: 0 auto;
  padding: 70px 70px 60px;
  .join-us-menu-choose-lvl {
    margin: 70px 0 0;
    width: 520px;
  }
  .join-us-buttons {
    margin: 100px 0 0;
  }
}
.input-info{
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  input{
    background-color: black;
    border: 2px solid #ffc50b;
    border-radius: 15px;
    color: #FFC50B;
    line-height: 45px;
    outline: none;
    padding-left: 15px;

  }
  input::placeholder{
    color: #5c5c5c;
  }
}
.input-name{
  width: 520px;
  margin-bottom: 20px;
}
.input-contact{
  width: 240px;
}
.contact-form-name{
  width: 385px;
  margin-bottom: 20px;
}
.contact-form-col{
  width: 50%;
}
//////TO KNOW PRICE
.price-pop-up{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 7;
  overflow: auto;
  transition: transform 0.7s;
  transform: none;
}
.price-info{
  width: 80%;
  margin: 250px auto;
  display: flex;
  justify-content: space-between;
}
.price-info-card{
  width: 400px;
  padding: 60px;
  box-sizing: border-box;
  text-align: center;
  border:2px solid;
  border-radius: 20px;
}
.education-time{
  display: flex;
  text-align: left;
  img{
    width: 35px;
    margin-right: 40px;
  }
  .num-lessons{
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .time-duration{
    font-size: 16px;
    font-weight: lighter;
    color: #b6c1c6;
  }
}
.relevant-price{
  margin-top: 50px;
  color: #b6c1c6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  font-size: 21px;
div{
  margin-top: 30px;
}
  span{
    text-align: left;
  }
}
.price-number {
  font-weight: bold;
  font-size: 31px;
  margin-right: 20px;
}
.text-align-left{
  text-align: left;
}
.border-radius-purple{
  border-color: #9543ff;
}
.border-radius-orange{
  border-color: #ffc50b;
}
.border-radius-green{
  border-color: #02ffaf;
}
.education-time{
  margin-bottom: 25px;
}
.education-time-text{
  display: flex;
  flex-direction: column;
}
.price-level{
  width: 185px;
  margin-bottom: 80px;
}
.pop-up-close{
  width: 50px;
  position: absolute;
  right: 105px;
  top: 70px;
  cursor: pointer;
}

.pop-up-send-bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 7;
  overflow: auto;
  transition: transform 0.7s;
  transform: none;
}
.pop-up-send{
  width: 518px;
  height: 515px;
  display: none;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 220px;
  z-index: 2;
}
.pop-up-send-fail{
  background-image: url('../images/pop-up-afer-submit/fale-bg-pop-up-01.png');
}
.pop-up-send-success{
  background-image: url("../images/pop-up-afer-submit/success-bg-pop-up-01.png");
}
.pop-up-send-text{
  padding: 250px 80px 0;
  p{
    color: #e6d2b7;
    font-size: 21px;
    font-weight: bolder;
    margin: 0;
    font-size: 21px;
    line-height: 31px;
  }
  .small-text-pop{
    margin: 20px auto 30px;
    color: #ededed;
    font-size: 16px;
    line-height: 21px;
  }
}
.close-ok{
  margin-top: 30px;
  width: 105px;
  height: 31px;

  background: none;
  border: 2px solid #FFC50B;
  border-radius: 15px;

  line-height: 31px;
  font-size: 16px;
  font-weight: bold;
  color: #afadb8;
  cursor: pointer;
}
@media (max-width: 1450px) {
  .price-info {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width:1200px ) {
  .price-info-card{
    width: 350px;
  }
}
@media (max-width:1100px ) {
  .price-info {
    margin: 160px auto;
    flex-direction: column;
    align-items: center;
  }
  .price-info-card{
    margin-bottom: 50px;
  }
}
@media(max-width: 600px) {
  .pop-up-close {
    width: 50px;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .price-info-card {
    width: 300px;
    padding: 30px;
  }
  .price-level {
    width: 140px;
    margin-bottom: 20px;
  }
  .relevant-price{
    margin-top: 0;
  }
  .relevant-price div {
    margin-top: 10px;
  }
}
/////PORTFOLIO//////////////
.portfolio-heading ,.join-us-heading{
max-width: 1300px;
display: flex;
flex-direction: column;
align-items: flex-end;
margin: 250px auto 150px;
}
.portfolio-heading-text{
  max-width: 365px;
}
.portfolio-info{
max-width: 1420px;
margin: 0 auto 200px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.portfolio-info-column{
//width:50% ;
}
.game-example{
width: 662px;
height: 477px;
border: 3px solid #9543ff;
border-radius: 60px;
position: relative;
display: flex;
justify-content: center;
}
.game-example-column{
width: 45%;
height: inherit;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.game-example-column-second{
justify-content: space-around;
}
.icon-shadow-game{
position: absolute;
z-index: -1;
width: 365px;
top: 125px;
}
.os-icons{
display: flex;
width: 206px;
justify-content: flex-end;
.android{
width: 35px;
}
.apple{
width: 35px;
margin-right: 40px;
}
}
.game-buttons{

.about-game-btn{
margin-top: 20px;

display: block;
width: 202px;
height: 61px;
border: #9543ff 2px solid;
border-radius: 23px;

color: #9543ff;
line-height: 61px;
text-align: center;
font-weight: bold;
letter-spacing: 3px;
font-size: 21px;
}
  .about-game-btn:hover{
    color: black;
    background-color: #9543ff;
  }
}
//PORTFOLIO POPUP
#tic-tac-toe,#endless-runner{
  display: none;
}
.portfolio_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: black;
  z-index: 100;
  overflow: auto;
  transition: transform .7s;
  transform: none;
}
.portfolio_window__info_block {
  width: 100%;
  padding: 40px;
  overflow-y: auto;
  box-sizing: border-box;
}
.portfolio_window__miscellaneous_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.portfolio_window__text_block {
  transition: 1s opacity;
  transition-delay: .6s;
  opacity: 1;
  text-align: left;
}
.portfolio_window__miscellaneous_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.portfolio_window_close {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.portfolio_window__platforms {
  display: flex;
  height: 36px;
  position: absolute;
  right: 80px;
  top: 80px;
  img{
    width: 44px;
    margin-right: 15px;
  }
}
.portfolio_window__image {
display: block;
width: 100%;
}
//text
.portfolio_window__text_block {
transition: 1s opacity;
transition-delay: .6s;
opacity: 1;
text-align: left;
}
.portfolio_window__heading--bold {
font-weight: 700;
}
.portfolio_window__heading {
font-size: 30px;
margin: 30px 0;
font-weight: 300;
text-transform: uppercase;
}
.portfolio_window__text {
font-size: 14px;
line-height: 1.5;
}
*, *::before, *::after {
box-sizing: inherit;
}
@media (min-width: 960px) {
.portfolio_window {
display: flex;
flex-direction: row-reverse;
overflow: hidden;
}
}
.portfolio_window__image_block {
width: 100%;
overflow-y: auto;
}
@media (min-width: 960px){
.portfolio_window__info_block {
width: 50%;
}
}
@media (min-width: 960px) {
.portfolio_window__image_block {
width: 50%;
}
}
//mobile
@media(max-width: 1440px) {
.about-us{
//margin: 220px 10px 0;
margin: 190px 15px 0;
}
.about-us-info-shine {
display: none;
}
.about-course-main-info-column{
.line-over-text, .about-course-heading{
margin: 0 auto;
}
}
.join-us-buttons {
margin-left: 40px;
}
nav .nav-bg {
top: -40px;
}
.relevance-heading {
max-width: 460px;
margin: 100px 0 115px 56%;
}
}
@media(max-width: 1420px) {
.portfolio-heading {
align-items: center;
}
.portfolio-info{
width: 670px;
flex-direction: column;
}
.portfolio-info-column{
margin-bottom: 50px;
}

.menu-illustration{
width: 600px;
}
.join-us-menu-choose-lvl {
width: 600px;
}
.join-us-buttons{
margin-left: 0;
}
.course-description {
 max-width: 430px;
}
.join-us-info {
width: 515px;
}

}
@media(max-width: 1200px) {
nav {
.menu {
display: none;
}
.menu-mobile {
flex-direction: column;
}
}
#burger{
  display: block;
}
.about-us-column:nth-child(1){
display: none;
}
.about-us-column {
align-items: center;
margin: 0 auto;
}
.media-icons {
position: unset;

flex-direction: row;
justify-content: space-between;
order: 3;

margin-top: 40px;
width: 390px;
height: auto;
}
.about-us-heading {
width: 195px;
align-self: flex-end;
margin: 0 60px 0 0;
}
.about-us{
display: block;
}
.about-us-column:nth-child(1){
display: unset;
img{
position: absolute;
width: 800px;
left: 0;
right: 0;
margin: 120px auto 0;
z-index: -1;
}
}
.about-us-info-shine {
display: unset;
max-width: 750px;
z-index: -1;
top: 1400px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}
.relevance-heading {
margin: 0 auto 30px;
}
.relevance-info{
flex-wrap: wrap;
max-width: 700px;
margin: 0 auto;
}

.join-us-content{
flex-direction: column;
}
.join-us-heading {
align-items: center;
margin: 250px auto 100px;
}
.menu-illustration{
height: 545px;
}
.join-us-column{
width: 100%;
}
.course-description-time p:first-child {
margin-top: 10px;
}
.join-us-buttons{
margin: 175px auto 0;
}
.line-over-text img {
width: 470px;
}
.relevance-heading-text {
margin-left: 0;
}
  .contact-form{
    flex-direction: column;
    max-width: 540px;
    margin: 250px auto 100px;
  }
  .contact-form-col{
    width: 100%;
    margin-bottom: 25px;
  }
  .contact-form .join-us-menu-choose-lvl {
    margin: 25px 0 50px;
    width: 545px;
  }
  .contact-form .join-us-buttons {
    margin: 50px 0 0;
    width: 100%;
  }
  .contact-media{
    flex-direction: column;
    align-items: center;
    .media-icons{
      flex-direction: row;
      width: 390px;
      height: auto;
      order: unset;
      margin:0 auto 25px;
    }

  }

}
@media(max-width: 800px) {
header {
background-position-x: -655px;

.h1-bg {
display: none;
}

h1 {
background-image: url("/assets/images/header/h1-bg.svg");
}

.header-info {
img:nth-child(1) {
width: 300px;
left: 50%;
transform: translateX(-50%);
top: -60px;
}

img:nth-child(2) {
width: 300px;
top: -120px;
left: 0;
transform: translateX(-50%);
}

.header-info-text {
top: -250px;
}
}
}
nav {
.logo img{
width: 100px;
}

.menu-mobile {
flex-direction: column;
}

.logo-bg {
width: 100%;
}
}
.about-us-column:nth-child(1) {
img {
width: 100%;
margin: 120px auto 0;
}
}
.line-over-text img {
width: 300px;
}
.about-course-main-info{
flex-direction: column-reverse;
.about-course-main-info-column{
width: 100%;
}
.big-unity{
width: 100%;
}
}
.about-course-icons{
width: 320px;
flex-wrap: wrap;
justify-content:space-around;
}


}
@media(max-width: 700px) {
.portfolio-info {
width: 100%;
}
.game-example{
width: 80%;
margin:0 auto;
}
.game-example-column{
img{
width: 100%;
}
}
.portfolio-heading-text , .join-us-heading-text{
margin: 10px auto;
}
.join-us-heading-text{
width: 85%;
}
.portfolio-heading-text{
width: 70%;
}
.join-us-heading{
.line-over-text{
width: 80%;
margin: 0 auto;
}
}
}
@media (max-width: 600px) {
  header {
    height: 800px;

    .header-info {
      img:nth-child(2) {
        width: 300px;
        top: -250px;
        left: 50%;
        transform: translateX(-50%);

      }

      .header-info-text {
        top: -380px;
      }

      span {
        margin: 10px 0 10px 35px;
      }
    }

    h1 {
      font-size: 34px;
      text-align: left;
      width: fit-content;
      margin: 295px auto 50px;
    }

    .header-info-text {
      top: -380px;
    }
  }

  .about-us {
    margin: 190px 5px 0;
  }
  .about-us-column {
    width: 100%;
  }
  .line-over-text {
    img {
      width: 100%;
    }

  }
  .about-us-info-block {
    width: 100%;
    background-size: contain;
    height: 350px;
  }
  .about-us-info-shine {
    display: none;
  }
  .about-us-heading {
    width: 135px;
    margin: 0 11% 0 0;
  }
  .media-icons {
    width: 80%;

    img {
      width: 25px;
    }

    img:nth-child(3) {
      width: 14px;
    }
  }
  .about-us-info-block {
    width: 100%;
    height: fit-content;
    background-size: contain;

    .about-us-info-block-text {
      padding: 0;
      width: 100%;
    }

    p {
      padding-left: 20px;
    }
  }
  .about-us-info-block h2 {
    font-size: 21px;
    margin: 15px auto 10px;
    text-align: center;
  }
  .squares {
    margin-top: 57px;
    margin-left: 0px;
  }
  .relevance-heading {
    .line-over-text {
      width: 300px;
      margin: 0 auto;
    }

    .relevance-heading-text {
      display: block;
      width: 300px;
      margin: 0 auto;
    }
  }

  .relevance-info-card {
    margin: 0 auto 30px;
  }
  .about-course-text {
    width: 80%;
  }
  .about-course-heading {
    width: 200px;
    margin: 0 10% 0 0;
  }
  .about-course-icons {
    width: 160px;
  }
  .make-your-game-banner {
    width: 70%;

    .make-your-banner-text {
      width: 180px;
      height: 90px;
      padding-left: 30px;

      font-size: 16px;
      line-height: 25px;
    }

    .vertical-line {
      height: 96px;
    }
  }
  .game-example {
    height: 300px
  }
  .game-buttons {
    width: 80%;
    margin: 0 0 20px 30px;

    .about-game-btn {
      margin-top: 20px;
      display: block;
      width: 100%;
      height: 31px;
      border: #9543ff 1px solid;
      border-radius: 12px;
      line-height: 31px;
      font-size: 16px;
    }
  }
  .icon-shadow-game {
    width: 70% !important;
    top: 75px;
  }
  .os-icons {
    width: 100px;

    .android {
      width: 25px;
    }

    .apple {
      width: 25px;
      margin-right: 25px;
    }
  }
  .join-us-menu-choose-lvl-element {
    width: 90px;
    height: 30px;
  }

  .join-us-menu-choose-lvl {
    width: 85%;
    justify-content: space-between;
  }

  .active-btn-lvl {
    width: 105px;
    height: 38px;
  }
  .menu-illustration {
    width: 100%;
    height: 360px;
  }
  .join-us-info {
    width: 85%;
  }
  .course-description h2 {
    color: #ddd2b1;
    margin: 15px 0 50px;
    font-size: 18px;
  }
  .join-us-icon-el {
    width: 25px;
    margin-bottom: 65px;
  }
  .join-us-icon-el:nth-child(4) {
    width: 28px;
  }
  .course-description {
    width: 80%;
  }
  .teachers img {
    width: 150px;
  }
  .teachers span {
    font-size: 18px;
    margin: 20px 0 20px;
  }
  .free-places {
    margin: 15px 0 15px;
  }
  .free-places span {
    font-size: 18px;
  }
  .free-place-number {
    font-size: 21px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .timer span {
    font-size: 21px;
  }
  .benefit-element img {
    width: 27px;
  }
  .join-us-buttons {
    width: 90%;
    max-width: 370px;
  }
  .join-us-buttons  {
    .join-us-btn{
      width: 42%;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      border-radius: 10px;
    }
  }
  .portfolio-heading, .join-us-heading {
    margin: 200px auto 50px;
  }

  .portfolio_window__info_thumbnail {
    width: 185px;
    margin-bottom: 100px;
  }
  .portfolio_window__platforms img {
    width: 20px;
    margin-right: 20px;

  }
  .portfolio_window__platforms {
    right: 60px;
  }

  .contact-form {
    width: 80%;
    margin: 200px auto 100px;
    padding: 15px;
    border-radius: 25px;

    .join-us-buttons img {
      width: 140px;
    }
  }
  .contact-form-name {
    width: 235px;
    margin: 10px 0 0;
  }
  .contact-form .join-us-menu-choose-lvl {
    margin: 20px 0 15px;
    width: 100%;
  }
  .input-info {
    width: 100%;

    input {
      line-height: 27px;
      border-radius: 10px;
    }

    .input-contact {
      width: 40%;
    }
  }
  .contact-media {
    width: 80%;
    margin: 0 auto;

    .media-icons {
      width: 100%;
    }

    .phones {
      p {
        font-size: 16px;
      }

    }
  }
  //pop-up
  .pop-up-send {
    width: 315px;
    height: 315px;
    display: none;
    top: 220px;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;

    .pop-up-send-text {
      padding: 130px 0 0 ;
      p{
        line-height: 25px;
      }
      .small-text-pop {
        margin: 0;
        font-weight: normal;
      }
    }
  }
}
@media(max-width: 430px) {
.timer{
width: 300px;
align-items: flex-end;
}
}
@media(max-width: 330px) {
.contact-form .join-us-buttons img {
width: 120px;
}
.input-info .input-contact {
width: 40%;
}
.timer{
width: 260px;
align-items: flex-end;
}
}
